.CardSlider {
    display: flex;
    gap: 16px; /* Adjust the value as needed */
}
.gradient{
    background: linear-gradient(135deg, #79F1A4 0%,  #0E5CAD 100%);
}
.gradient2{
    background: linear-gradient(135.73deg, #FF9865 0%, #EF3031 110.55%);
}

